/* Login page style */
.loginPageInput {
  width: 250px;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 14px;
}

.loginPageParagraph {
  margin: 0;
}

#login-page-body {
  min-height: 100vh;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

#login-page-form {
  margin: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#login-page-logo {
  margin-bottom: 30px;
}

#login-page-fieldset {
  border-radius: 10px;
}

#login-page-enter-button {
  width: 250px;
  margin-top: 5px;
  font-size: 16px;
  background-color: rgba(15,163,107,255);
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  cursor: pointer;
}

#login-page-enter-button:disabled {
  opacity: 0.7;
  cursor: not-allowed;
}

/* Wallet page style */
